.root {
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;

  .map {
    width: 100%;
    height: 100%;
  }

  .buttonAdd {
    position: absolute;
    text-align: center;
    bottom: 5%;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
  }
}